*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
:root{
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 61%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VaryLightGray: hsl(0, 0%, 98%);
    --lightergraycolor: hsl(0, 0%, 98%);
}
body{
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: top -210px right -190px;
}
a, #submitButton{
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: var(--VeryDarkBlue);
    cursor: pointer;
    font-size: 14px;
}
nav ul a:hover{
    color: var(--DarkGrayishBlue);
}
button{
    all: unset;
    padding: 15px 37px;
    font-size: 13px;
    border-radius: 50px;
    background-color: var(--BrightRed);
    color: var(--VaryLightGray);
    box-shadow: 5px 3px 10px var(--BrightRed);
    cursor: pointer;
}
button:hover{
    background-color: var(--DarkGrayishBlue)
}
main{
    display: flex;
    align-items: center;
    gap: 17rem;
    padding: 6rem 7rem 5rem 9rem;
}
#main_text{
    width: 35%;
}
#main_text h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--DarkBlue);
}
#main_text p{
    font-size: 17px;
    line-height: 1.5;
    margin: 2rem 0;
    color: var(--DarkGrayishBlue);
}
main img{
    width: 50%;
}
section{
    display: flex;
    gap: 6rem;
    padding: 1rem 0 5rem 9rem;
}
#first-section{
    width: 38%;
}
#first-section h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--DarkBlue);
}
#first-section p{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 2rem;
    color: var(--DarkGrayishBlue);
}
#sub-sections{
    width: 40%;
}
.subsec1, .subsec2, .subsec3{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}
.subsec1 h4, .subsec2 h4, .subsec3 h4{
    border: 1px solid var(--BrightRed);
    border-radius: 40px;
    background-color: var(--BrightRed);
    height: 10%;
    padding: 9px 19px;
    color: var(--VaryLightGray);
    font-weight: 400;
}
.subsec1 p, .subsec2 p, .subsec3 p{
    line-height: 1.5;
    font-size: 17px;
    color: var(--DarkGrayishBlue);
}
.subsec1 h3, .subsec2 h3, .subsec3 h3{
    padding-bottom: 1rem;
    font-size: 18px;
    color: var(--DarkBlue);
}
article h1{
    margin: 4rem 0 7rem 0;
    position: relative;
    left: 37rem;
    font-size:40px;
    font-weight: 700;
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.testimonials p{
    text-align: center;
    font-size: 15px;
    padding: 1rem 0;
    color: var(--DarkGrayishBlue);
}
.testimonials h2{
    text-align: center;
    font-size: 19px;
}
.testimonials img{
    width: 27%;
    text-align: center;
    position: relative;
    top: -45px;
    left: 110px;
}
.a, .b, .c, .d{
    border: 1px solid var(--VaryLightGray);
    background-color: var(--VeryPaleRed);
    padding: 0 2rem;
}
article button{
    margin: 5rem 0;
    position: relative;
    left: 44rem;
    cursor: pointer
}
#lower-section{
    background-color: var(--BrightRed);
    display: flex;
    gap: 29rem;
    padding: 3rem 0 3rem 9rem;
    align-items: center;
}
#lower-section h1{
    color: var(--VaryLightGray);
    font-size: 41px;
    width: 45%;
}
#lower-section button{
    background-color: var(--VaryLightGray);
    color: var(--BrightRed);
}
footer{
    background-color: var(--VeryDarkBlue);
    display: flex;
    gap: 18rem;
    padding: 2rem 0 5rem 0;
}
.left-footer{
    padding: 1.5rem 0 0 9rem;
}
.left-footer img{
    margin-bottom: 3rem;
}
.icons a i{
    color: white;
    font-size: 24px;
    border-radius: 50px;
    margin: 3px;
}
.icons a i:hover{
    color: var(--BrightRed);
}
.middle-footer{
    display: flex;
    gap: 10rem;
}
.lastList1 a, .lastList2 a{
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin-top: 22px;
    color: var(--VaryLightGray);
    font-size: 14px;
}
.lastList1 a:hover, .lastList2 a:hover{
    color: var(--BrightRed);
}
#email{
    border-radius: 20px;
    padding: 11px;
}
#submitButton{
    background-color: var(--BrightRed);
    padding: 12px 25px;
    border-radius: 35px;
}
.copyright{
    color: var(--VaryLightGray);
    font-size: 12px;
    margin-top: 4rem;
}